@model List<string>

@{
    ViewData["Title"] = "Find an Exercise";
}

<h2>Find an Exercise</h2>

<ul class="list-group">
    @foreach (var muscleGroup in Model)
    {
        <li class="list-group-item">
            <a asp-action="WorkoutDetails" asp-route-muscleGroup="@muscleGroup">@muscleGroup</a>
        </li>
    }
</ul>
