@model IEnumerable<FlexiFit.Entities.Models.Workout>

<h1>Workouts for Muscle Group</h1>
<ul>
    @foreach (var workout in Model)
    {
        <li>@workout.ExerciseName: @workout.Repetitions</li>
    }
</ul>
