body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    color: #343a40;
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.workout {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

    .workout img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
    }

.btn-primary {
    background-color: #007bff;
    border: none;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }

.navbar-brand {
    font-weight: bold;
}
