@model FlexiFit.Entities.Member

<h1>Sign Up</h1>
<form asp-action="SignUp" method="post">
    <label asp-for="FirstName">First Name</label>
    <input asp-for="FirstName" />
    <label asp-for="LastName">Last Name</label>
    <input asp-for="LastName" />
    <button type="submit">Submit</button>
</form>
