<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - FlexiFit</title>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    <header>
        <h1>FlexiFit Gym</h1>
        <nav>
            <a asp-controller="Home" asp-action="Index">Home</a>
            <a asp-controller="Members" asp-action="SignUp">Sign Up</a>
            <a asp-controller="Classes" asp-action="BookClasses">Classes</a>
            <a asp-controller="Workouts" asp-action="FindExercise">Workouts</a>
        </nav>
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <footer>
        <p style="text-align: center;">&copy; 2024 FlexiFit Gym. All rights reserved.</p>
    </footer>
</body>
</html>
