@model IEnumerable<FlexiFit.Entities.Models.Class>

@{
    ViewData["Title"] = "Class Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    int? memberId = Context.Session.GetInt32("MemberId");
}

<h1>Class Schedule</h1>

<table class="table">
    <thead>
        <tr>
            <th>Class Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cls in Model)
        {
            <tr>
                <td>@cls.ClassName</td>
            </tr>
        }
    </tbody>
</table>
