@model IEnumerable<FlexiFit.Entities.Models.Class>

@{
    ViewData["Title"] = "Available Classes";
}

<h2>Available Classes</h2>

<ul class="list-group">
    @foreach (var cls in Model)
    {
        <li class="list-group-item">
            <h4>@cls.ClassName</h4>
            <a asp-action="Details" asp-route-id="@cls.ClassId" class="btn btn-link">View Details</a>
        </li>
    }
</ul>
