@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to FlexiFit!</h1>
    <p class="lead">Your journey to fitness starts here.</p>
    <hr class="my-4" />
    <p>
        <a class="btn btn-primary btn-lg" asp-controller="Members" asp-action="SignUp" role="button">Join Now</a>
    </p>
</div>
